-- RLS POLİTİKALARI - Tablo oluşturduktan sonra çalıştır

-- PROFIL TABLOSU POLİTİKALARI
ALTER TABLE profiles ENABLE ROW LEVEL SECURITY;

-- Kullanıcılar kendi profillerini görebilir
CREATE POLICY "Users can view own profile" ON profiles
    FOR SELECT USING (auth.uid() = id);

-- Kullanıcılar kendi profillerini güncelleyebilir
CREATE POLICY "Users can update own profile" ON profiles
    FOR UPDATE USING (auth.uid() = id);

-- Kullanıcılar kendi profillerini ekleyebilir (signup sırasında)
CREATE POLICY "Users can insert own profile" ON profiles
    FOR INSERT WITH CHECK (auth.uid() = id);

-- BLOG POSTS TABLOSU POLİTİKALARI
ALTER TABLE blog_posts ENABLE ROW LEVEL SECURITY;

-- Herkes yayınlanan blog postlarını görebilir
CREATE POLICY "Anyone can view published blog posts" ON blog_posts
    FOR SELECT USING (published = true);

-- Yazarlar kendi postlarını görebilir
CREATE POLICY "Authors can view own blog posts" ON blog_posts
    FOR SELECT USING (auth.uid() = author_id);

-- Adminler tüm postları görebilir
CREATE POLICY "Admins can view all blog posts" ON blog_posts
    FOR SELECT USING (
        EXISTS (
            SELECT 1 FROM profiles
            WHERE profiles.id = auth.uid()
            AND profiles.role = 'admin'
        )
    );

-- Yazarlar kendi postlarını güncelleyebilir
CREATE POLICY "Authors can update own blog posts" ON blog_posts
    FOR UPDATE USING (auth.uid() = author_id);

-- Adminler tüm postları güncelleyebilir
CREATE POLICY "Admins can update all blog posts" ON blog_posts
    FOR UPDATE USING (
        EXISTS (
            SELECT 1 FROM profiles
            WHERE profiles.id = auth.uid()
            AND profiles.role = 'admin'
        )
    );

-- Yazarlar yeni post ekleyebilir
CREATE POLICY "Authors can insert blog posts" ON blog_posts
    FOR INSERT WITH CHECK (auth.uid() = author_id);

-- Adminler tüm postları silebilir
CREATE POLICY "Admins can delete blog posts" ON blog_posts
    FOR DELETE USING (
        EXISTS (
            SELECT 1 FROM profiles
            WHERE profiles.id = auth.uid()
            AND profiles.role = 'admin'
        )
    );

-- FORUM POSTS TABLOSU POLİTİKALARI
ALTER TABLE forum_posts ENABLE ROW LEVEL SECURITY;

-- Herkes forum postlarını görebilir
CREATE POLICY "Anyone can view forum posts" ON forum_posts
    FOR SELECT USING (true);

-- Authenticated kullanıcılar yeni post ekleyebilir
CREATE POLICY "Authenticated users can insert forum posts" ON forum_posts
    FOR INSERT WITH CHECK (auth.uid() = author_id AND auth.uid() IS NOT NULL);

-- Yazarlar kendi postlarını güncelleyebilir
CREATE POLICY "Authors can update own forum posts" ON forum_posts
    FOR UPDATE USING (auth.uid() = author_id);

-- Adminler tüm postları güncelleyebilir
CREATE POLICY "Admins can update all forum posts" ON forum_posts
    FOR UPDATE USING (
        EXISTS (
            SELECT 1 FROM profiles
            WHERE profiles.id = auth.uid()
            AND profiles.role = 'admin'
        )
    );

-- Adminler tüm postları silebilir
CREATE POLICY "Admins can delete forum posts" ON forum_posts
    FOR DELETE USING (
        EXISTS (
            SELECT 1 FROM profiles
            WHERE profiles.id = auth.uid()
            AND profiles.role = 'admin'
        )
    );
