-- RLS Politikaları
ALTER TABLE profiles ENABLE ROW LEVEL SECURITY;
ALTER TABLE blog_posts ENABLE ROW LEVEL SECURITY;
ALTER TABLE forum_posts ENABLE ROW LEVEL SECURITY;

-- Profiles
CREATE POLICY \
Public
profiles\ ON profiles FOR SELECT USING (true);
CREATE POLICY \Users
can
insert
own
profile\ ON profiles FOR INSERT WITH CHECK (auth.uid() = id);
CREATE POLICY \Users
can
update
own
profile\ ON profiles FOR UPDATE USING (auth.uid() = id);

-- Blog posts
CREATE POLICY \Published
posts
are
public\ ON blog_posts FOR SELECT USING (published = true);
CREATE POLICY \Authors
can
see
own
posts\ ON blog_posts FOR SELECT USING (auth.uid() = author_id);
CREATE POLICY \Users
can
create
posts\ ON blog_posts FOR INSERT WITH CHECK (auth.uid() = author_id);
CREATE POLICY \Authors
can
update
own
posts\ ON blog_posts FOR UPDATE USING (auth.uid() = author_id);

-- Forum posts
CREATE POLICY \Forum
posts
are
public\ ON forum_posts FOR SELECT USING (true);
CREATE POLICY \Users
can
create
forum
posts\ ON forum_posts FOR INSERT WITH CHECK (auth.uid() = author_id);
CREATE POLICY \Authors
can
update
own
posts\ ON forum_posts FOR UPDATE USING (auth.uid() = author_id);
